@font-face {
    font-family: fuenteTitulo;
    src: url("Harland Roselyn.ttf");
}

@font-face {
    font-family: fuenteTitulo2;
    src: url("Destiny\ Signature.ttf");
}

@font-face {
    font-family: fuenteTitulo3;
    src: url("Alone in the dark.ttf");
}

@font-face {
    font-family: fuenteTitulo4;
    src: url("");
}